apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: portfolio
resources:
- ../../base

images:
- name: jafy10/portfolio
  newName: jafy10/portfolio
  newTag: prod-176ada6
- name: portfolio-image-placeholder
  newName: jafy10/portfolio
  newTag: latest

replicas:
- count: 2
  name: portfolio

patches:
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/securityContext/readOnlyRootFilesystem
      value: true
  target:
    kind: Deployment
    name: portfolio
