apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: portfolio
resources:
- ../../base

images:
- name: portfolio-image-placeholder
  newName: jafy10/portfolio
  newTag: latest

replicas:
- name: portfolio
  count: 2

patches:
- target:
    kind: Deployment
    name: portfolio
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/securityContext/readOnlyRootFilesystem
      value: true
