apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: portfolio
resources:
- ../../base

images:
- name: jafy10/portfolio
  newName: jafy10/portfolio
  newTag: prod-176ada6
- name: portfolio-image-placeholder
  newName: jafy10/portfolio
  newTag: latest

replicas:
- count: 2
  name: portfolio

patches:
- target:
    kind: Deployment
    name: portfolio
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: portfolio
    spec:
      template:
        spec:
          containers:
          - name: cloudflared
            image: cloudflare/cloudflared:latest
            args:
            - tunnel
            - --protocol
            - http2
            - run
            env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: tunnel-credentials
                  key: token
