apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: portfolio-dev
resources:
- ../../base

images:
- name: jafy10/portfolio
  newName: jafy10/portfolio
  newTag: dev-ce15421

replicas:
- count: 1
  name: portfolio

patches:
- target:
    kind: Deployment
    name: portfolio
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: portfolio
    spec:
      template:
        spec:
          volumes:
          - name: tunnel-credentials
            secret:
              secretName: tunnel-credentials
          containers:
          - name: cloudflared
            image: cloudflare/cloudflared:latest
            args:
            - tunnel
            - --protocol
            - http2
            - run
            - d9bf9d7e-60a2-4fb2-9df5-61d81686ed5c
            env:
            - name: TUNNEL_CRED_FILE
              value: /etc/cloudflared/credentials.json
            volumeMounts:
            - name: tunnel-credentials
              mountPath: /etc/cloudflared
              readOnly: true
