apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: portfolio-dev
resources:
- ../../base

images:
- name: jafy10/portfolio
  newName: jafy10/portfolio
  newTag: dev-ce15421

replicas:
- count: 1
  name: portfolio
